.footer {
    width: 100%;
    z-index: 1;
    background: var(--primary-bg-color);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    margin-top: auto;
}

.title {
    color: var(--secondary-color);
    font-size: 70px;
}