.header {
    width: 100%;
    z-index: 1;
    background: var(--dark-primary-color);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title {
    color: var(--white-primary-color);
    font-size: 70px;
}