@use '../../../styles/common/_variables.scss' as *;

.ds-button {
    display: flex;
    padding: 0 16px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 16px;
    cursor: pointer;
    transition: all .3s;
}

.primary {
    border: 1px solid $secondary-color;
    color: $dark-primary-color;
    background: $secondary-color;


    &:hover {
        color: $secondary-color;
        background: $dark-primary-color;
    }
    &:active {
        background: $pushed-bg-secondary-color;
    }
}
.secondary {}
.outline {
    border: 1px solid $primary-color;
    color: $primary-color;

    &:hover {
        color: $dark-primary-color;
        background: $primary-color;
        transition: all .3s;
    }
    &:active {
        background: $pushed-bg-color;
        border: 1px solid $pushed-bg-color;
    }
}
.ghost {}
.destructive {}

.size-sm {
    height: 24px;
}

.size-md {
    height: 36px;
}

.size-lg {
    height: 48px;
}