.inputBlock {
    width: 100%;
}

.inputWrapper {
    position: relative;
}

.input {
    background-color: var(--white-primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 14px;
    height: 48px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 256px;
    width: 100%;
    padding: 16px 44px 16px 16px;
    font-size: 16px;
    color: var(--dark-primary-color);
    transition: all 0.2s;
}

.input:focus {
    box-shadow: var(--primary-shadow);
    border: 0;
}

.input::placeholder {
    color: var(--inactive-color);
}

.input:disabled {
    color: var(--inactive-color);
    background: var(--disabled-color);
}

.clearButton {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s all;
    opacity: 0;
    pointer-events: none;
}

.clearSvg {
    transition: 0.2s all;
}

.show {
    opacity: 1;
    pointer-events: all;
}

.label {
    display: block;
    margin: 0 0 16px 0;
    color: var(--dark-primary-color);
}

.inputWithoutBtn {
    padding: 16px;
}

.clearButton.inactive {
    opacity: 0;
}

.primary {

}
