.auth {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.authTitle {
    margin: 0 0 32px;
}

.registrationBlock {
    display: flex;
    align-items: center;
    margin: 16px 0 0;
}

.registrationButton {
    color: var(--primary-color);
    margin: 0 0 0 8px;
}